# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs
*.log

# Environment variables
.env
.env.*

# IDEs / Editors
.vscode/
.idea/
*.swp

# Jupyter
.ipynb_checkpoints/

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/
.tox/
.mypy_cache/

# OS files
.DS_Store
Thumbs.db

# SQLite / local DBs
*.sqlite3

# PyInstaller
*.spec

.tests/